*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

html.body{
    width: 100vw;
    height: 100vh;

    
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(86, 13, 105, 0.931)
    
}

section#area_login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;

    transition: width .2s, height .2s;
    transition-timing-function: ease;

    
}
div#imagem{
    display: block;
    background:url(../imagens/login.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center bottom;
   
}
div#login{
    display: block;
    padding: 10px;
}
div#formulario{
    margin: 10px;
}