*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

html.body{
    width: 100vw;
    height: 100vh;

    
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(86, 13, 105, 0.931)
    
}

section#area_login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    width: 250px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;


    transition: width .2s, height .2s;
    transition-timing-function: ease;

    
}
div#imagem{
    display: block;
    background:url(../imagens/login.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center bottom;
   
}
div#login{
    display: block;
    padding: 10px;
}
div#login h1{
    margin-bottom: 10px;
    text-align: center;
}

div#formulario{
    width: 100%;
    margin-top: 10px;
}

div.campo{

    display: block;
    margin: auto;

    width: 95%;
    height: 40px;

    border-radius: 8px;
    margin-bottom: 10px;
    background-color:rgba(86, 13, 105, 0.931);

}
.campo i{

    font-size: 2em;
    color: white;
    height: 40px;
    padding: 6px;

}
.campo input{
    background-color:#9bd3d2e5;
    font-size: 1em;
    width: calc(100% - 52px);
    transform: translateY(-13px);
    height: 100%;
    border: 2px solid rgba(86, 13, 105, 0.931);;
    border-radius: 8px;
    padding: 5px;


}
.campo input:focus-within{
    background-color: white;
    border: none;
}
.campo input::placeholder{
    padding-left: 10px;
    font-size: 1.2em;
    font-weight: 900;
    color:rgba(87, 13, 105, 0.694);
}
.campo label{

    display: none;

}

div.buttons{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

div.buttons input{
    width: 100%;
    height: 40px;

    font-size: 1.2em;
    border-radius: 8px;
    border:none;

    background-color:white;
    color:black;

    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.552);

    margin-bottom: 10px;
}
div.buttons input:hover{
    background-color:rgba(86, 13, 105, 0.931);
    color:white;
}


div.buttons{
    margin-top: 20px;
}

div.buttons a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(86, 13, 105, 0.931);
}
div.buttons a:hover{
    color: black;
}

